h1 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.small {
    text-align: center;
    font-weight: bold;
}